VITE_API_KEY=""
VITE_AUTH_DOMAIN=""
VITE_PROJECT_ID=""
VITE_STORAGE_BUCKET=""
VITE_MESSAGING_SENDER_ID=""
VITE_APP_ID=""
VITE_MEASUREMENT_ID=""
VITE_BACKEND_URL="http://localhost:8000/api"
VITE_BACKEND_MEDIA_URL="http://localhost:8000"
VITE_TINYMCE_API="6ky6nz57dx2tczsrx2dqy7dtmxm87ymrlbsejr72rurig07n"
VITE_APP_HF_API_KEY="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"
VITE_PAYPAL_CLIENT_ID=""
VITE_DOCS_PASSWORD="G7f#vP9@xL2z"
VITE_RAZORPAY_KEY_ID=your_key_id_here
