PORT=8000
DB_NAME="e-learning"
DB_USERNAME="YOUR_DB_USERNAME"
DB_PASSWORD="YOUR_DB_PASSWORD"
DB_HOST="localhost"
DB_DIALECT="mysql"
JWT_SECRET_KEY="YOUR_JWT_SECRET_KEY"
GENERATE_PUBLIC_HASH_ID_KEY="public"
GENERATE_USER_ENROLL_HASH_ID_KEY="private"
PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
GEMINI_API_KEY="YOUR_GEMINI_API_KEY"
RAZORPAY_KEY_ID=your_key_id
RAZORPAY_KEY_SECRET=your_key_secret
